
.icon-logout:before { content: '\e800'; } /* '' */
.icon-attach:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-cog-alt:before { content: '\e807'; } /* '' */
.icon-wrench:before { content: '\e808'; } /* '' */
.icon-quote-right:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */